.Fundo{
    margin-top: -9px;
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -150px;
    height: 300px;
}

.Fundo h2{
    position: absolute;
    font-size: 36px;
    padding-left: 50px;
    padding-top: 50px;
    color: #5f666c;
}

.Fundo p{
    position: absolute;
    padding-left: 50px;
    padding-top: 120px;
    color: #5f666c;
    font-size: 17px;
}