
.Listas ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.Listas li{
    font-size: 14px;
    color: #686868;
    cursor: pointer;
    transition: 1s;
}


.Listas li:hover{
    transition: 1s;
    color: #99b442;
}