.Cards{
    display: flex;
}

.Card1{
    display: flex;
    color: #B5B5B5;
    border: solid 1px #B5B5B5;
    width: 260px;
    height: 55px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 50px;
    cursor: pointer;
    transition: 1s;
}

.Card1 p{
    padding-left: 10px;
}

.Card1 img{
    padding-top: 17px;
    width: 20px;
    height: 20px;
    padding-left: 140px;
    
}

.Card1:hover{
    transition: 1s;
    color: #000;
    border-color: #000;
}

.Card2{
    display: flex;
    color: #B5B5B5;
    border: solid 1px #B5B5B5;
    width: 260px;
    height: 55px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
    transition: 1s;
}

.Card2 p{
    padding-left: 10px;
}

.Card2 img{
    padding-top: 17px;
    width: 23px;
    height: 23px;
    padding-left: 90px;
    
}

.Card2:hover{
    transition: 1s;
    color: #000;
    border-color: #000;
}

